<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="ui-content">
    <div class="ui-login-content">
        <div class="ui-login-item">账号：<input type="text" /></div>
        <div class="ui-login-item">密码：<input type="password" /></div>
        <div class="ui-login-item"><input type="submit" value="登录" /></div>
    </div>
</div>
</body>
</html>
