.content {
	background-color: #F6F6F6;
}

.personal-box {
	position: relative;
	box-sizing: border-box;
	padding: 110upx 70upx;
	font-size: 30upx;
	width: 750upx;
	height: 420upx;
	color: #fff;
	background: linear-gradient(360deg, rgba(29, 192, 175, 1) 0%, rgba(41, 182, 246, 1) 100%);
}

.white-series-box {
	position: absolute;
	left: 75upx;
	top: 238upx;
	width: 600upx;
	height: 250upx;
	background: #fff;
	fonr-size: 30upx;
	display: flex;
	flex-wrap: wrap;
	border-radius: 10upx;

	.serices-item {
		box-sizing: border-box;
		padding: 20upx 0;
		text-align: center;
		width: 50%;
		height: 50%;

		.serices-status {
			line-height: 42upx;
			color: #212121;
		}

		.serices-number {
			line-height: 42upx;
			color: #757575;
		}
	}
}

.personal-flex {
	display: flex;
}

.personal-exit {
	margin: 120upx 30upx 160upx 30upx;
	text-align: center;
	line-height: 94upx;
	width: 690upx;
	color: #fff;
	fonr-size: 36upx;
	background: rgba(255, 109, 0, 1);
	border-radius: 10upx;
}

.personal-img img {
	width: 84upx;
	height: 84upx;
	background-color: #979797;
	border: solid 1upx #979797;
	border-radius: 50%;
	fonr-size: 0;
	vertical-align: center;
}

.personal-mes {
	margin-left: 20upx;
	height: 84upx;
	line-height: 50upx;
}

.personal-over-box {
	border-top: 1upx solid #F6F6F6;
	margin-top: 110upx;
}

.personal-over {
	margin-top: 12upx;
	display: flex;
	justify-content: space-between;
	padding: 15upx 40upx;
	width: 750upx;
	height: 90upx;
	line-height: 60upx;
	box-sizing: border-box;
	box-shadow: 0upx 0upx 16upx 0upx rgba(0, 0, 0, 0.1);
	border-radius: 16upx;
	color: #000000;
}

.personal-all-item {
	display: flex;
	align-items: center;
	height: 60upx;
	line-height: 60upx;

	.item-name {
		font-size: 30upx;
		margin-left: 35upx;
	}

	.iconSize {
		font-size: 45upx;
	}
}

.icon-right {
	color: #7f8389;
	font-size: 40upx;
}
