.scrollView {
	box-sizing: border-box;
	height: calc(100vh - 220upx);
	width: 100%;
}

.content {
	padding: 20upx 20upx 120upx 20upx;
	font-size: 30upx;
	color: #303030;
	text-align: center;
	background-color: #F6F6F6;
}

.choose-content {
	font-size: 24upx;
	position: relative;
	display: flex;
	justify-content: center;
}

.choose-box {
	background-color: #ffffff;
	display: flex;
	width: 100%;
}

.choose-same {
	line-height: 84upx;
	text-align: center;
	width: 33.3333%;
	font-size: 30upx;
	border-bottom: solid 1px #DDDDDD;
	color: #303030;
}

.choose-active {
	color: #29B6F6;
	border-bottom: solid 2px #29B6F6;
}

.border-nomessage {
	background-color: #fff;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
