<!DOCTYPE html>
<html>
<head>
    <title>EjsTitle</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h2 class="ui-header">我是外部引入的ejs模版</h2>
<img src="images/baidu.png" alt="百度"/>
</body>
</html>
